<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist  version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>
                            <![CDATA[https://signapi.ipadump.com/sign/file/download/2023-04-08/20/01b8b6ecacf449c3a858b7a9107e9b00/install.ipa]]>
                        </string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>needs-shine</key>
                        <integer>0</integer>
                        <key>url</key>
                        <string>
                            <![CDATA[https://sign.dumpapp.com/logosign.jpg]]>
                        </string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>full-size-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>
                            <![CDATA[https://sign.dumpapp.com/logosign.jpg]]>
                        </string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>p3.xyz.yyyue.esign</string>
                    <key>bundle-version</key>
                    <string>
                        <![CDATA[4.8.1]]>
                    </string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>
                        <![CDATA[IPA搴旂敤绋嬪簭]]>
                    </string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
